 ---
     - name: Updates apt cache
       apt:  update_cache=true
       
     - name: Installs necessary packages
       apt: pkg={{item}} state=latest
       with_items:
        - apache2
        - libapache2-mod-php7.0
        - git
     
     - name: Installs apache web server
       apt: pkg=apache2 state=installed update_cache=true
      
     - name: Push default virtual host configuration 
       copy: src=devlike-app.conf  dest=/etc/apache2/sites-available/ mode=0640

     - name: Activates our virtualhost
       command: a2ensite devlike-app.conf
      
     - name: Check that our config is valid
       command: apache2ctl configtest
       register: result
       ignore_errors: True
        
     - name: Rolling back - Restoring old default virtualhost
       command: a2ensite 000-default.conf  
       when: result|failed

     - name: Rolling back -Removing our virtualhost
       command: a2dissite devlike-app.conf
       when: result|failed
      
     - name: Delete the incorrect configuration file
       file: path=/etc/apache2/sites-available/devlike-app.conf state=absent
       when: result|failed
      
     - name: Rolling back - Ending playbook
       fail: msg="Configuration file is not valid. Please check that before re-running the playbook."
       when: result|failed
       
     - name: Deploy our awesome application
       git: repo=https://github.com/devlikeops/demosite.git   dest=/var/www/devlike-app
       tags: deploy
      
     - name: Deactivates the default virtualhost
       command: a2dissite 000-default.conf

     - name: Deactivates the default ssl virtualhost
       command: a2dissite default-ssl.conf
       notify:
           - restart apache  