---
- name: Install MariaDB Repositories 10.2 Stable
  apt: pkg=software-properties-common state=latest update_cache=yes

- name: Add an apt key by id from a keyserver
  apt_key:
    keyserver: keyserver.ubuntu.com
    id: 0xF1656F24C74CD1D8

- name: Add R repo to sources list
  apt_repository: repo='deb [arch=amd64,i386,ppc64el] http://mirror.truenetwork.ru/mariadb/repo/10.2/ubuntu xenial main' state=present

- name: Installs mariadb-server
  apt: pkg=mariadb-server state=latest update_cache=yes
      
